@model SportsStore.Domain.Entities.Product

@{
    ViewBag.Title = "Administracja: edycja "+ @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edycja @Model.Name</h1>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Zapisz"/>
    @Html.ActionLink("Anuluj i wróc do listy", "Index")
}

